<div class="main">
  <h1>SupraEnglish Sizga Nima Taklif Qiladi?</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/images/1698929911542.jpeg"></div>
        <div class="card_content">
          <h2 class="card_title">AI Essay Checker</h2>
          <p class="card_text">Inshoingizni jo'nating va sun'iy intellect'dan feedback oling</p>
          <button class="btn card_btn" routerLink="/FAQ">Learn More</button>
          <button class="btn card_btn" routerLink="LINK">Try It</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/images/AI-Chatbot-Speeds-Answers-to-Customers-IS22-009-960-1.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Text-to-Speech Flashcard</h2>
          <p class="card_text">Ovozli Flashcards bilan yangi so'zlarni oson o'rganing</p>
          <button class="btn card_btn" routerLink="/FAQ">Learn More</button>
          <button class="btn card_btn" routerLink="LINK">Try It</button>
        </div>
      </div>
    </li>
  </ul>
</div>