<header class="header bg-primary">
  <div class="left-title">JS Quiz</div>
  <div class="right-title">Total Questions: <span>{{ totalque }}</span></div>
  <div class="clearfix"></div>
</header>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div id="result" class="quiz-body">
          <form name="quizForm" (submit)="nextQuestion($event)">
            <fieldset class="form-group">
              <h4><span>{{ quiz.JS[currentque].id }}.</span> <span>{{ quiz.JS[currentque].question }}</span></h4>
              <div class="option-block-container">
                <div *ngFor="let option of quiz.JS[currentque].options[0] | keyvalue" class='form-check option-block'>
                  <label class='form-check-label'>
                    <input type='radio' class='form-check-input' name='option' [value]='option.value' (change)='selectOption(option.value)'>
                    <span>{{ option.value }}</span>
                  </label>
                </div>
              </div>
            </fieldset>
            <button type="button" name="previous" id="previous" class="btn btn-success" (click)="previousQuestion($event)" [disabled]="currentque <= 0">Previous</button>
            &nbsp;
            <button type="submit" name="next" id="next" class="btn btn-success">Next</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>